div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 100px;
}

.square {
    width: 200px;
    height: 255px;
    background-color: #daa520;
    
}

.square2 {
    width: 100px;
    height: 75px;
    background-color: #98fb98;
}